@keyframes flip {
    0% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

.rotate-y-180 {
    animation: flip 0.5s linear;
    backface-visibility: hidden;
    transform-style: preserve-3d;
} 